<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎-{{ user }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }} " type="text/css">
</head>
<body>
    <div id="shadow">
        <div id="text">
            <h1>你好，{{ user }}</h1>
            {% if user == '游客' %}
                <p id="remind">请<a href="/login">登录</a>或<a href="/register">立即注册</a></p>
            {% else %}
                <a href="/logout" id="logout">退出登录</a>
            {% endif %}
        </div>
    </div>
</body>
</html>